/*=====================================================
                      reset css start
          http://meyerweb.com/eric/tools/css/reset/
                      v2.0 | 20110126
                License: none (public domain)
=======================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*=====================================================
                      reset css end
=======================================================*/
body {
  font-size: 1em;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
}

button {
  border: 0px;
  width: 7rem;
  height: 2rem;
  font-size: 1.5rem;
}

#quote-box {
  margin: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: auto auto 2.5rem;
      grid-template-rows: auto auto 2.5rem;
      grid-template-areas: "txt txt txt txt txt txt" "au au au au au au" "tq tq nq nq cr cr";
  height: 75vh;
  padding: 5rem 1rem 5rem 1rem;
  width: 90vw;
}

#text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: txt;
  text-align: left;
  font-size: 1.5rem;
}

#author {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: au;
  text-align: right;
  height: 5rem;
  padding-top: 0.5rem;
}

#new-quote {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: nq;
  -ms-grid-column-align: center;
      justify-self: center;
  outline: none;
}

#new-quote:focus #new-quote-tip, #new-quote:hover #new-quote-tip {
  opacity: 1;
}

#new-quote-tip {
  -webkit-transition: 400ms;
  transition: 400ms;
  font-family: 'Cabin Sketch', cursive;
  font-size: 1rem;
  opacity: 0;
}

#tweet-quote {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: tq;
  -ms-grid-column-align: center;
      justify-self: center;
  outline: none;
}

#tweet-quote:focus #tweet-quote-tip, #tweet-quote:hover #tweet-quote-tip {
  opacity: 1;
}

#tweet-quote-tip {
  -webkit-transition: 400ms;
  transition: 400ms;
  font-family: 'Cabin Sketch', cursive;
  font-size: 1rem;
  opacity: 0;
}

#credits {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: cr;
  -ms-grid-column-align: center;
      justify-self: center;
  outline: none;
}

#credits:focus #credits-tip, #credits:hover #credits-tip {
  opacity: 1;
}

#credits-tip {
  -webkit-transition: 400ms;
  transition: 400ms;
  font-family: 'Cabin Sketch', cursive;
  font-size: 1rem;
  opacity: 0;
}

#creditsOverlay {
  grid-area: co;
  display: none;
}

#toggle-theme {
  -ms-grid-column-align: center;
      justify-self: center;
  grid-area: tt;
  width: 75%;
  display: none;
}

#moon {
  display: inline-block;
  font-size: 1.5em;
  color: #e0e1e2;
  width: 4rem;
  height: 2rem;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

#sun {
  display: inline-block;
  font-size: 1.5em;
  color: #101112;
  width: 4rem;
  height: 2rem;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
  top: 0.5rem;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: #555;
  -webkit-transition: 400ms;
  transition: 400ms;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #555;
          box-shadow: 0 0 1px #555;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2rem);
  transform: translateX(2rem);
}

.slider.round {
  border-radius: 5rem;
}

.slider.round:before {
  border-radius: 50%;
}

.dark-element {
  background: #101112;
  color: #e0e1e2;
  font-weight: normal;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.dark-element a {
  color: #e0e1e2;
  font-weight: normal;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.light-element {
  background: #e0e1e2;
  color: #101112;
  font-weight: bold;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.light-element a {
  color: #101112;
  font-weight: bold;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.slide-container {
  margin: 3rem auto;
  width: 10rem;
  /* Width of the outside container */
}

.rangeslider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.25rem;
  background: #ccc;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.rangeslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #555;
}

.rangeslider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #555;
}

@media (min-width: 720px) {
  #quote-box {
    width: 50vw;
  }
}
/*# sourceMappingURL=styles.css.map */
