@import 'reset';
@import 'mixins';

body {
  font-size: 1em;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
}
button {
  border: 0px;
  width: 7rem;
  height: 2rem;
  font-size: 1.5rem;
}

//Wrapper for entire quote machine
#quote-box {
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto 2.5rem;
  grid-template-areas:
    "txt txt txt txt txt txt"
    "au au au au au au"
    "tq tq nq nq cr cr";
  height: 75vh;
  padding: 5rem 1rem 5rem 1rem;
  width: 90vw;
}

//Quote text
#text {
  grid-area: txt;
  text-align: left;
  font-size: 1.5rem;
}
//Quote Author
#author {
  grid-area: au;
  text-align: right;
  height: 5rem;
  padding-top: 0.5rem;
}
//Buttons
#new-quote {
  grid-area: nq;
  justify-self: center;
  outline: none;
  &:focus, &:hover {
    #new-quote-tip {
      opacity: 1;
    }
  }
}
#new-quote-tip {
  @include transition(400ms);
  font-family: 'Cabin Sketch', cursive;
  font-size: 1rem;
  opacity: 0;
}

#tweet-quote {
  grid-area: tq;
  justify-self: center;
  outline: none;
  &:focus,&:hover{
    #tweet-quote-tip {
      opacity: 1;
    }
  }
}
#tweet-quote-tip {
  @include transition(400ms);
  font-family: 'Cabin Sketch', cursive;
  font-size: 1rem;
  opacity: 0;
}

#credits {
  grid-area: cr;
  justify-self: center;
  outline: none;
  &:focus,&:hover{
    #credits-tip {
      opacity: 1;
    }
  }
}
#credits-tip {
  @include transition(400ms);
  font-family: 'Cabin Sketch', cursive;
  font-size: 1rem;
  opacity: 0;
}
//Hidden credits overlay
#creditsOverlay {
  grid-area: co;
  display: none;
}

//Theme elements
#toggle-theme {
  justify-self: center;
  grid-area: tt;
  width: 75%;
  display: none;
}
#moon {
  display: inline-block;
  font-size: 1.5em;
  color: #e0e1e2;
  width: 4rem;
  height: 2rem;
  @include transition(1000ms);
}
#sun {
  display: inline-block;
  font-size: 1.5em;
  color: #101112;
  width: 4rem;
  height: 2rem;
  @include transition(1000ms);
}

//Toggle switch styling (uses checkbox element)
.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
  top: 0.5rem;
}
.switch input {display:none;}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  @include transition(400ms);
}
.slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: #555;
  @include transition(400ms);
}
input:checked + .slider {
  background-color: #ccc;
}
input:focus + .slider {
  box-shadow: 0 0 1px #555;
}
input:checked + .slider:before {
  @include transform(translateX(2rem));
}
.slider.round {
  border-radius: 5rem;
}
.slider.round:before {
  border-radius: 50%;
}

//Dark and Light Elements for themeing
.dark-element {
  background: #101112;
  color: #e0e1e2;
  font-weight: normal;
  @include transition(1000ms);
  a {
    color: #e0e1e2;
    font-weight: normal;
    @include transition(1000ms);
  }
}
.light-element {
  background: #e0e1e2;
  color: #101112;
  font-weight: bold;
  @include transition(1000ms);
  a {
    color: #101112;
    font-weight: bold;
    @include transition(1000ms);
  }
}

.slide-container {
  margin: 3rem auto;
  width: 10rem; /* Width of the outside container */
}

.rangeslider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.25rem;
  background: #ccc;
  outline: none;
  opacity: 0.7;
  @include transition(opacity .2s);
}

.rangeslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #555;
}

.rangeslider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #555;
}

@media (min-width: 720px) {
  #quote-box {
    width: 50vw;
  }
}
